/*dashboard*/
.page-dashboard {
    background-color: #fffbfb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .page-dashboard .overlap-wrapper {
    background-color: #fffbfb;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
  }
  
  .page-dashboard .overlap {
    position: relative;
    width: 1448px;
    height: 1024px;
  }
  
  .page-dashboard .wp {
    position: absolute;
    width: 1440px;
    height: 1024px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .page-dashboard .navbar {
    position: absolute;
    width: 1440px;
    height: 106px;
    top: 0;
    left: 0;
    background-color: #ffffffbf;
    overflow: hidden;
  }
  
  .page-dashboard .collapse-navbar {
    position: absolute;
    width: 1012px;
    height: 58px;
    top: 24px;
    left: 554px;
  }
  
  .page-dashboard .navbar-nav {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 2px;
    left: 668px;
  }
  
  .page-dashboard .li {
    position: relative;
    width: 166px;
    height: 54px;
  }
  
  .page-dashboard .a {
    height: 54px;
  }
  
  .page-dashboard .btn {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 15px;
    position: relative;
    border-radius: 37px;
    overflow: hidden;
  }
  
  .page-dashboard .icn-settings-icn-xs {
    position: relative;
    width: 12px;
    height: 12px;
  }
  
  .page-dashboard .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--link-font-family);
    font-weight: var(--link-font-weight);
    color: #536502;
    font-size: var(--link-font-size);
    text-align: center;
    letter-spacing: var(--link-letter-spacing);
    line-height: var(--link-line-height);
    white-space: nowrap;
    font-style: var(--link-font-style);
  }
  
  .page-dashboard .div {
    position: absolute;
    top: 16px;
    left: 549px;
    font-family: var(--link-font-family);
    font-weight: var(--link-font-weight);
    color: #536502;
    font-size: var(--link-font-size);
    text-align: center;
    letter-spacing: var(--link-letter-spacing);
    line-height: var(--link-line-height);
    white-space: nowrap;
    font-style: var(--link-font-style);
  }
  
  .page-dashboard .text-wrapper-2 {
    position: absolute;
    top: 32px;
    left: 191px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #536502;
    font-size: 30px;
    letter-spacing: 0.30px;
    line-height: normal;
  }
  
  .page-dashboard .duriango {
    position: absolute;
    width: 117px;
    height: 106px;
    top: 0;
    left: 59px;
    object-fit: cover;
  }
  
  .page-dashboard .navbar-2 {
    position: absolute;
    width: 193px;
    height: 918px;
    top: 106px;
    left: 0;
    background-color: #d9d9d9bf;
  }
  
  .page-dashboard .group {
    position: absolute;
    width: 163px;
    height: 44px;
    top: 226px;
    left: 21px;
  }
  
  .page-dashboard .overlap-group {
    position: absolute;
    width: 174px;
    height: 150px;
    top: 312px;
    left: 20px;
  }
  
  .page-dashboard .penunjuk {
    position: absolute;
    width: 171px;
    height: 150px;
    top: 0;
    left: 1px;
  }
  
  .page-dashboard .keranjang {
    position: absolute;
    width: 117px;
    height: 23px;
    top: 90px;
    left: 0;
  }
  
  .page-dashboard .text-wrapper-3 {
    position: absolute;
    width: 83px;
    top: 2px;
    left: 32px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #536502;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .page-dashboard .div-2 {
    position: absolute;
    width: 21px;
    height: 23px;
    top: 0;
    left: 0;
  }
  
  .page-dashboard .img {
    position: absolute;
    width: 20px;
    height: 22px;
    top: 0;
    left: 0;
  }
  
  .page-dashboard .beranda {
    position: absolute;
    width: 101px;
    height: 65px;
    top: 0;
    left: 1px;
  }
  
  .page-dashboard .text-wrapper-4 {
    position: absolute;
    width: 68px;
    top: 23px;
    left: 31px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #536502;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .page-dashboard .riwayat {
    position: absolute;
    width: 173px;
    height: 36px;
    top: 113px;
    left: 0;
  }
  
  .page-dashboard .text-wrapper-5 {
    position: absolute;
    width: 139px;
    top: 17px;
    left: 32px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #536502;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .page-dashboard .group-2 {
    position: absolute;
    width: 20px;
    height: 22px;
    top: 18px;
    left: 0;
  }
  
  .page-dashboard .group-3 {
    position: absolute;
    width: 20px;
    height: 22px;
    top: 124px;
    left: 0;
  }
  
  .page-dashboard .produk {
    position: absolute;
    width: 174px;
    height: 20px;
    top: 57px;
    left: 0;
  }
  
  .page-dashboard .text-wrapper-6 {
    position: absolute;
    width: 139px;
    top: 0;
    left: 33px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #536502;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .page-dashboard .shopping-store {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-image: url(./img/group-10.png);
    background-size: 100% 100%;
  }
  
  .page-dashboard .button-logout {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 852px;
    left: 49px;
  }
  
  .page-dashboard .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #f70606;
    font-size: 20px;
    letter-spacing: -0.18px;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .page-dashboard .ellipse {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 75px;
    left: 53px;
    background-color: #ffffff;
    border-radius: 45px;
  }
  
  .page-dashboard .interface-arrows {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 144px;
  }
  
  .page-dashboard .group-4 {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 1px;
    left: 1px;
  }
  
  .page-dashboard .overlap-group-wrapper {
    position: absolute;
    width: 293px;
    height: 378px;
    top: 598px;
    left: 215px;
  }
  
  .page-dashboard .overlap-2 {
    position: relative;
    width: 287px;
    height: 378px;
  }
  
  .page-dashboard .rectangle {
    position: absolute;
    width: 287px;
    height: 237px;
    top: 141px;
    left: 0;
    background-color: #d9d9d9bf;
    border-radius: 20px;
  }
  
  .page-dashboard .interface-edit-layer {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 326px;
    left: 255px;
  }
  
  .page-dashboard .div-wrapper {
    position: relative;
    width: 19px;
    height: 19px;
    top: 1px;
    left: 1px;
  }
  
  .page-dashboard .overlap-group-2 {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .page-dashboard .vector {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 4px;
    left: 0;
  }
  
  .page-dashboard .vector-2 {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 4px;
  }
  
  .page-dashboard .group-5 {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 8px;
    left: 4px;
  }
  
  .page-dashboard .lorem-ipsum-bbbacb {
    position: absolute;
    top: 233px;
    left: 13px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0.20px;
    line-height: 24px;
  }
  
  .page-dashboard .img-2 {
    position: absolute;
    width: 208px;
    height: 173px;
    top: 0;
    left: 40px;
    object-fit: cover;
  }
  
  .page-dashboard .text-wrapper-8 {
    position: absolute;
    top: 191px;
    left: 13px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0.20px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .page-dashboard .text-wrapper-9 {
    position: absolute;
    top: 323px;
    left: 13px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0.20px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .page-dashboard .shopping-cart {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 326px;
    left: 224px;
    background-image: url(./img/group-4.png);
    background-size: 100% 100%;
  }
  
  .page-dashboard .produk-2 {
    position: absolute;
    width: 293px;
    height: 378px;
    top: 598px;
    left: 531px;
  }
  
  .page-dashboard .shopping-cart-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 326px;
    left: 224px;
    background-image: url(./img/group-3.png);
    background-size: 100% 100%;
  }
  
  .page-dashboard .produk-3 {
    position: absolute;
    width: 293px;
    height: 378px;
    top: 597px;
    left: 847px;
  }
  
  .page-dashboard .shopping-cart-3 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 326px;
    left: 224px;
    background-image: url(./img/image.png);
    background-size: 100% 100%;
  }
  
  .page-dashboard .slogan {
    position: absolute;
    width: 921px;
    height: 373px;
    top: 158px;
    left: 215px;
  }
  
  .page-dashboard .overlap-3 {
    position: relative;
    width: 919px;
    height: 373px;
    background-color: #ffffff42;
    border-radius: 30px;
  }
  
  .page-dashboard .pengen-makan-durian {
    position: absolute;
    width: 469px;
    top: 96px;
    left: 55px;
    font-family: "Philosopher-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .page-dashboard .durian-with-ai {
    position: absolute;
    width: 330px;
    height: 287px;
    top: 48px;
    left: 523px;
    object-fit: cover;
  }
  
  .page-dashboard .tabel-pesanan {
    position: absolute;
    width: 283px;
    height: 918px;
    top: 106px;
    left: 1165px;
    background-color: #d9d9d9bf;
  }
  
  .page-dashboard .overlap-4 {
    position: relative;
    width: 244px;
    height: 767px;
    top: 122px;
    left: 23px;
  }
  
  .page-dashboard .pesanan {
    position: absolute;
    width: 234px;
    height: 76px;
    top: 76px;
    left: 0;
  }
  
  .page-dashboard .overlap-group-3 {
    position: relative;
    width: 228px;
    height: 76px;
    background-color: #d9d9d980;
    border-radius: 25px;
  }
  
  .page-dashboard .durian-with-ai-2 {
    position: absolute;
    width: 79px;
    height: 66px;
    top: 5px;
    left: 0;
    object-fit: cover;
  }
  
  .page-dashboard .text-wrapper-10 {
    position: absolute;
    top: 11px;
    left: 87px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.12px;
    line-height: normal;
  }
  
  .page-dashboard .text-wrapper-11 {
    position: absolute;
    top: 55px;
    left: 93px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0.08px;
    line-height: normal;
  }
  
  .page-dashboard .text-wrapper-12 {
    top: 53px;
    left: 162px;
    font-size: 10px;
    letter-spacing: 0.10px;
    white-space: nowrap;
    position: absolute;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    line-height: normal;
  }
  
  .page-dashboard .alamat {
    position: absolute;
    width: 229px;
    height: 101px;
    top: 428px;
    left: 3px;
  }
  
  .page-dashboard .overlap-5 {
    position: relative;
    width: 225px;
    height: 101px;
    background-color: #d9d9d980;
    border-radius: 15px;
  }
  
  .page-dashboard .text-wrapper-13 {
    position: absolute;
    top: 13px;
    left: 13px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #4a4141;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .page-dashboard .jln-raya-lorok {
    position: absolute;
    top: 31px;
    left: 13px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 9px;
    letter-spacing: 0.09px;
    line-height: normal;
  }
  
  .page-dashboard .total-harga {
    position: absolute;
    width: 241px;
    height: 157px;
    top: 550px;
    left: 3px;
  }
  
  .page-dashboard .overlap-6 {
    position: relative;
    width: 225px;
    height: 157px;
    background-color: #d9d9d980;
    border-radius: 15px;
  }
  
  .page-dashboard .text-wrapper-14 {
    position: absolute;
    top: 4px;
    left: 13px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #4a4141;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .page-dashboard .text-wrapper-15 {
    position: absolute;
    top: 95px;
    left: 13px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #4a4141;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .page-dashboard .line {
    position: absolute;
    width: 225px;
    height: 1px;
    top: 91px;
    left: 0;
    object-fit: cover;
  }
  
  .page-dashboard .text-wrapper-16 {
    position: absolute;
    top: 22px;
    left: 13px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 9px;
    letter-spacing: 0.09px;
    line-height: normal;
  }
  
  .page-dashboard .text-wrapper-17 {
    position: absolute;
    top: 33px;
    left: 13px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 9px;
    letter-spacing: 0.09px;
    line-height: normal;
  }
  
  .page-dashboard .text-wrapper-18 {
    position: absolute;
    top: 23px;
    left: 126px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0.08px;
    line-height: normal;
  }
  
  .page-dashboard .overlap-group-4 {
    position: absolute;
    width: 42px;
    height: 19px;
    top: 23px;
    left: 174px;
  }
  
  .page-dashboard .text-wrapper-19 {
    top: 0;
    left: 0;
    font-size: 8px;
    letter-spacing: 0.08px;
    position: absolute;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    line-height: normal;
  }
  
  .page-dashboard .text-wrapper-20 {
    top: 9px;
    left: 1px;
    font-size: 8px;
    letter-spacing: 0.08px;
    position: absolute;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    line-height: normal;
  }
  
  .page-dashboard .text-wrapper-21 {
    top: 96px;
    left: 173px;
    font-size: 8px;
    letter-spacing: 0.08px;
    position: absolute;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    line-height: normal;
  }
  
  .page-dashboard .rectangle-2 {
    position: absolute;
    width: 128px;
    height: 33px;
    top: 734px;
    left: 44px;
    background-color: #536502;
    border-radius: 14px;
    transform: rotate(-0.19deg);
  }
  
  .page-dashboard .button-checkout {
    position: absolute;
    width: 186px;
    height: 760px;
    top: 0;
    left: 28px;
  }
  
  .page-dashboard .text-wrapper-22 {
    position: absolute;
    top: 741px;
    left: 43px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .page-dashboard .text-wrapper-23 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #536502;
    font-size: 40px;
    letter-spacing: 0.20px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .page-dashboard .group-wrapper {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 118px;
    left: 1176px;
    transform: rotate(-178.43deg);
  }
  
  .page-dashboard .group-6 {
    position: relative;
    width: 37px;
    height: 37px;
    top: 1px;
    left: 1px;
  }
  
  .page-dashboard .overlap-group-5 {
    position: relative;
    width: 38px;
    height: 38px;
    top: -1px;
    left: -1px;
  }
  
  .page-dashboard .vector-3 {
    position: absolute;
    width: 10px;
    height: 18px;
    top: 10px;
    left: 15px;
  }
  
  .page-dashboard .vector-4 {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 0;
    left: 0;
  }
